.container {
    height: 100%;
    width: 100%;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90%;
    height: 90%;
    display: flex;

}

.box {
    border: 2px solid black;
    background: white;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.type-1 {
    width: 40%;
}

.type-2 {
    width: 20%;
    border-left: none;
    border-right: none;
    padding: 4px 0;
}
