.shopping-container{
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-left: none;
    border-right: none;
}

.shopping-header {
    height: 15%;
    text-align: center;
}

.shopping-header-title {
    font-size: 25px;
}
